body{
    background-color: rgb(0, 0, 0);
    margin:0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color:black;
    border-radius: 10px;
    width: 450px;
    box-shadow: 3.6px 0px 4px 2px blueviolet;
    padding: 1em;
    
}

fieldset{
    border: none;
    padding: 0;
}

input,label{
    box-sizing:border-box;
    display: flex;
    width: 100%;
}

label{
    color:rgb(137, 43, 226);
    margin-bottom: 0.5em;
}

input{
    border:1px solid rgba(137, 43, 226, 0);
    border-radius: 5px;
    /* font-size: 1em; */
    margin-bottom: .6em;
    padding: 0.75em;
    color: blueviolet;
}

input:focus{
    outline: 2px solid blueviolet;
    color: blueviolet;
}

legend{
    color:blueviolet;
    font-size: 1.2em;
    font-weight: 800;
    padding: 10px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 10px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid 1px yellow; */
}

.enviar{
    margin-top: .8em;
    background-color: blueviolet;
    color: black;
    border: none;
    width: 8em;
} 

.enviar:hover{
    transition: .4s;
    margin-top: .8em;
    background-color: white;
    cursor: pointer;
    color: blueviolet;
}




.cancelar{
    margin-top: .8em;
    width: 6em;
    font-size: .7em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: black;
    border-radius: 5px;
    padding: 10px 10px;
}

.cancelar:hover{
    transition: .4s;
    margin-top: .8em;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    color: white;
}