body {
  background-color: black;
}

.p1 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-bottom: groove blueviolet 7px;
  padding: 25px 50px;
  background-color: violet;
  margin-top: 15px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 3.5dvw;
}
.p2 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border: solid blueviolet 3px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: black;
  margin-top: 35px;
  margin-left: 350px;
  margin-right: 940px;
  font-size: 1vw;
}
.p3 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border: solid blueviolet 3px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: black;
  margin-top: 35px;
  margin-left: 350px;
  margin-right: 940px;
  font-size: 1vw;
}
.p4 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border: solid blueviolet 3px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: black;
  margin-top: 35px;
  margin-left: 350px;
  margin-right: 940px;
  font-size: 1vw;
}
.p5 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border: solid blueviolet 3px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: black;
  margin-top: 35px;
  margin-left: 940px;
  margin-right: 350px;
  font-size: 1vw;
}
.p6 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border: solid blueviolet 3px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: black;
  margin-top: 35px;
  margin-left: 940px;
  margin-right: 350px;
  font-size: 1vw;
}
.p7 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border: solid blueviolet 3px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: black;
  margin-top: 35px;
  margin-left: 940px;
  margin-right: 350px;
  font-size: 1vw;
}

.seçao01 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-bottom: groove blueviolet 7px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: violet;
  margin-top: 35px;
  margin-left: 350px;
  margin-right: 940px;
  font-size: 1vw;
}
.seçao02 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-bottom: groove blueviolet 7px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: rgb(21, 17, 40);
  margin-top: 35px;
  margin-left: 350px;
  margin-right: 940px;
  font-size: 1vw;
}
.seçao03 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-bottom: groove blueviolet 7px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: white;
  margin-top: 35px;
  margin-left: 350px;
  margin-right: 940px;
  font-size: 1vw;
}
.seçao04 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-top: groove blueviolet 7px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: yellowgreen;
  margin-top: 35px;
  margin-left: 940px;
  margin-right: 350px;
  font-size: 1vw;
}
.seçao05 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-top: groove blueviolet 7px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: goldenrod;
  margin-top: 35px;
  margin-left: 940px;
  margin-right: 350px;
  font-size: 1vw;
}
.seçao06 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: blueviolet;
  border-top: groove blueviolet 7px;
  border-radius: 5px;
  padding: 15px 1px;
  background-color: orange;
  margin-top: 35px;
  margin-left: 940px;
  margin-right: 350px;
  font-size: 1vw;
}
