* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://external-preview.redd.it/buKSYczPIDSIC61abGQnP0I_4sbJbjm30zy8y8mbkZg.jpg?auto=webp&s=e489781746ffe0a546e441add3ca936e45f8845f);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Inicio da Pagina "Home" */

header {
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.21);
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}
ul {
  margin-top: 50px;
  text-align: center;
}
li {
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  margin-left: 40px;
  box-shadow: 0px 0px 10px 2px black;
}
a:hover {
  background-color: black;
  color: yellow;
  border-radius: 5px;
  transition: 0.5s;
  scale: 1.1;
  display: inline-block;
}

div {
  color: white;
  text-align: center;
}
h1 {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px yellow;
}

h2 {
  border-bottom: solid 2px yellow;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: bolder;
  margin-bottom: 30px;
}
p {
  color: yellow;
}
.sobre1 {
  font-size: 1.6em;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid 3px black;
  padding: 20px;
}
.corpo2 {
  font-size: 1.3em;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 2px 2px 3.5px 0.5px black;
}
.sobre2 {
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
p b {
  color: black;
}

footer {
  text-align: center;
  border: solid 2px black;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
  font-weight: bolder;
}
/* Fim da Pagina "Home"*/

/* Inicio da Pagina "Perfil" */

.cadastro {
  background-color: rgba(0, 0, 0, 0.123);
  font-size: 1.5em;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid 3px black;
  padding: 15px;
}

.botao {
  border-radius: 5px;
  border: solid 2px black;
  font-size: 1.3em;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  text-align: center;
}

.botao:hover {
  transition: 0.3s;
  color: black;
  background-color: yellow;
  border-radius: 5px;
  border: solid 2px yellow;
  font-size: 1.3em;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px 2px yellow;
}
/* Fim da Pagina "Perfil" */

/* Inicio da Pagina "Curiosidades"*/

.sobre {
  background-color: rgba(0, 0, 0, 0.123);
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 30px;
  border-bottom: solid 3px black;
  padding: 15px;
}
.info {
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 20px;
  text-align: justify;
}
.info:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

img {
  display: block;
  margin: auto;
  width: 700px;
  margin-bottom: 30px;
  border: solid 2px black;
  box-shadow: 0px 0px 10px 2px black;
}

/* Fim da Pagina "Curiosidades */

/* Inicio da pagina "Produtos" */

.container {
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: solid 2px black;
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card:hover{
  border:solid 2px black;
  box-shadow: 0px 0px 10px 2px black;
  scale: 1.05;
  transition: 0.3s ;
}

.imagem {
  margin-top: 15px;
  width: 200px;
  border-radius: 8px;
}

.credito {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  color: black;
  margin-bottom: 20px;
  font-size: 16px;
}

.item {
  display: flex;
  justify-content: center;
  border-bottom: solid;
  margin-left: 50px;
  margin-right: 50px;
  color: black;
  margin-bottom: 20px;
}
