*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,p{
  color: white;
}

h1{
  border:solid 3px blueviolet;
  background-color: blueviolet;
  margin-top: 10px;
  text-align: center;
}
.br{
  text-align: center;
  background-color: rgba(128, 0, 128, 0.377);
}
h1,h2,p{
  margin-left: 5%;
  margin-right: 5%;
}

  .burro{
    margin-top: 10px;
    width: 200px;
    border: 5px solid black;
    border-radius: 100px;
    margin-left: 5%;
  }

ul{
  color: white;
  margin-left: 77.5%;
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  background-color: blueviolet;
  color:white;
  border-radius: 5px;
  box-shadow:white;
}
a:hover{
  background-color: purple;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
  scale: 1.1;
  display: inline-block;
  box-shadow: white;
}

h2{
  border: solid blueviolet;
  background-color: blueviolet;
  border-bottom: solid 5px rgba(128, 0, 128, 0.782);
  margin-top: 25px;
  padding: 15px;
}
.info,.ceep{
  margin-top: 15px;
}
.kalunga,.ceep{
  color: rgb(221, 15, 221);
}
.kalunga{
  margin-top: 15px;
  margin-bottom: 15px;
}
